<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

   <!--Property Injection  -->
	<bean id="propertyInjectionBean" class="com.f9group.spring.core.PropertyInjection">
		<property name="name" value="F9Group" />
	</bean>
   <!-- Modify the bean above to output name and address -->
   
   <bean id="contructorInjectionBean" class="com.f9group.spring.core.Cars">
    <constructor-arg   ref="wheels"/>

   </bean>
   
   <bean id ="wheels" class="com.f9group.spring.core.Wheels"></bean>
  
</beans>